/* Screen less than (xs-default) ALL PHONES PORTRAIT*/
@media screen and (min-width: 0px) {
  .footer {
    text-align: center;
    font-size: 9px;
   }
   
   .terms {
     font-size: 1.25em;
     padding-right: 0.25em;
     font-weight: 700;
     font-style: italic;
   }
   .container-footer {
    margin-left: auto;   
    margin-right: auto;
    max-width: 288px;
  }
}

/* Screen greater than (sm) SMALL TABLETS*/
@media screen and (min-width: 576px) {
  .footer {
    font-size: 10px;
  }
  .container-footer {
    max-width: 500px;
  }
}
/* Screen greater than (md) IPAD or TABLETS*/
@media screen and (min-width: 768px) {
  .footer {
    font-size: 12px;
  }
  .container-footer {
    max-width: 600px;
  }
}

/* Screen greater than (lg) LAPTOPS or DESKTOPS*/
@media screen and (min-width: 992px) {
 
}

/* Screen greater than (xl) 1200px*/
@media screen and (min-width: 1200px) {

}

