/*Font for body*/
body {
	font-family: Arial, Helvetica, sans-serif;
	}

/*Style header*/	
.header {
	padding: 5px 25px;
	text-align: left;
	background: #1abc9c; /*green*/
	color: white;
	font-style: italic;
}

.header h1 {
	font-size: 40px;
}
.header a {
	text-decoration: none;
	color: white;
}
.header a:hover {
	color: green;
}
/* Style Navigation Bar*/
.navbar {
	overflow: hidden;
	background-color: #333;
}
.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}
.navbar form.example input[type=text] {
	float: right;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 20px;
	font-size: 17px;
	border: 1px solid grey;
	background: #f1f1f1;
	}
.navbar form.example button {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	font-size: 17px;
	border: 1px solid grey;
	background: #333;
	border-left: none;
	cursor: pointer;
	}
.navbar form.example button:hover {
	background: #ddd;
}

.navbar a:hover {
	background-color: #ddd; /*gray*/
	color: black;
}

/* CSS Flexbox for row division*/
* {
	box-sizing: border-box;
	margin:0;
	} /*proper sizing with padding?*/
/* Column container */
.row {
	display: flex;
	flex-wrap: wrap;
}
/* Top Lessons Left Style*/
.side {
	flex: 25%;
	background-color: #f1f1f1; /*gray*/
	padding: 10px 10px 5px 10px;
}
#lessontitle {
	font-weight: normal;
	text-decoration: underline;
	font-style: italic;
	font-size: 20px;
}

.side ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.side li {
	padding: 10px;
	margin-bottom: 3px;
	background-color: #1abc9c; /*blue*/
	color: black; /*white*/
	}	
.side li:hover {
	background-color: #ddd; /*gray*/
	color: green;
}
.side a {
	text-decoration: none;
}
#lessontitle:hover {	
	background-color: #1abc9c; /*blue*/
	color: black; /*white*/
}
.main {
	flex: 75%;
	background-color: white;
	padding: 20px;
	font-size: 60px;
	}
.main a{
	text-decoration: none;
	color: black;
	display: block;
}
.main a:hover {
	color: #1abc9c;
}
	

.mainpic {
	max-width: 530px;
	height: auto;
	display: block;
	}

/* Column container for 4 Projects */
div.projects {
	
	text-align: center;	
	
	padding: 10px;
	float: center;
	background-color: #f1f1f1;
	margin-left: auto;
	margin-right: auto;
	
}

.projectpics {
	
	max-width: 100%;
}

.projects table {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

/*Responsive layout - stack columns instead when less than 700px*/
@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
}
/*Responsive layout - nav links stack instead of side when less than 600px*/
@media screen and (max-width: 600px) {
	.navbar a, form {
		float: none;
		width: 100%;
	}
	.mainpic {
	width: 100%;
	height: auto;
	display: block;
	}
}

/*Footer Style*/
.footer {
	padding: 15px;
	/*text-align: center;*/
	background: #ddd; /*gray*/
	display: flex;
	flex-wrap: wrap;
	min-height: 150px;
}
.footerleft {
	flex: 30%;
	background-color: #f1f1f1; /*gray*/
	padding: 10px;
	text-align: left;
}

.footerright {
	flex: 50%;
	background-color: #f1f1f1; /*gray*/
	padding: 10px;
	text-align: left;
	display:block;
	/*border: 2px solid red;*/
	position: relative;
	}
.footertable {
	padding: 10px;
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	/*border: 3px solid black;*/
	}




